@import "./partials/_variables";
@import "./partials/_typography";
@import "./partials/_mixins";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $text-color-1;
  font-size: 14px;
  background-color: $color-1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// PAGE STYLES
.page-container {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

// MODAL STYLES
.no-scroll {
  overflow: hidden;
}

.modal-form-width {
  max-width: 500px;
  width: 100%;
}

.modal-btn-container {
  display: flex;
  justify-content: flex-end;
}

// FORM STYLES
.input-container {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form_label {
  font-weight: 600;
  margin-bottom: 0.9rem;
}

.form-error-text {
  color: $text-color-3 !important;
  display: flex;
  margin-top: 0.5rem;
}

// ROUTER OUTLET COMPONENTS
.input-save-component {
  position: absolute;
  bottom: 0;
  width: 80vw;
}

// MATERIAL DRAG/DROP STYLES
.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: unset !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: unset !important;
}

.mdc-text-field {
  padding: 0 !important;
}

.mat-mdc-form-field-infix {
  padding: 0 !important;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}

.mdc-line-ripple.mdc-line-ripple--deactivating {
  display: none !important;
}

.mdc-line-ripple.mdc-line-ripple--active {
  display: none !important;
}

.mat-mdc-form-field-infix {
  min-height: unset !important;
}

.example-list {
  min-height: unset !important;
}

// SCROLLBAR
*::-webkit-scrollbar {
  border: none;
  background-color: transparent;
} /* webkit browsers(safari, chrome) */

* {
  scrollbar-color: #404040b3 transparent; /*firefox*/
}

// TOASTR STYLES
.ngx-toastr {
  box-shadow: none !important;
}

.toast-success {
  background-color: $color-6;
}
