# Ignore node_modules in all subprojects
**/node_modules/

# Logs
**/logs/
**/*.log

# Environment files
**/.env
**/.env.*
*.env

# Build outputs
**/dist

# Database
**.db

# Angular
**/.angular

# ssl
**.pem

# OS and IDE junk
.DS_Store
Thumbs.db
*.swp
.vscode/