@import "../../../partials/variables";
@import "../../../partials/typography";

nav {
  width: 80vw;
  background-color: $color-1 !important;
  border-bottom: 1px solid $color-3;

  &-link {
    color: $text-color-1 !important;
  }
}

.header-container {
  display: flex;
  padding: 0 35px;
  width: 80vw;
}

.navbar-brand {
  font-weight: 600 !important;
  color: $text-color-1 !important;
  font-size: 1.2rem;
}

.dropdown-menu {
  a {
    font-size: 0.875rem;
    font-weight: 600;

    &:hover {
      background-color: $color-4;
      cursor: pointer;
    }

    &.active {
      color: $text-color-1 !important;
      background-color: $color-1;
    }
  }
}

.navbar-nav {
  .nav-link {
    font-weight: 600;
    color: $text-color-1;
    cursor: pointer;

    &.active {
      color: $text-color-3;
    }

    &:hover {
      color: $text-color-3;
    }
  }
}
