<div
  class="sidebar sidebar-container"
  [class.profile-container-collapsed]="!isSidePanelExpandedVal"
>
  @if (isProfileNav) {
  <!-- PROFILE SIDE NAV -->
  <div class="profile-container">
    <a
      class="item-container"
      routerLink="/app/profile"
      routerLinkActive="active-item"
      >Account details
    </a>
  </div>

  } @if (isChecklistNav) {
  <!-- CHECKLIST SIDE NAV -->
  <div
    class="checklist-container"
    [class.checklist-container-collapsed]="!isSidePanelExpandedVal"
  >
    <fa-icon
      class="fa-lg create-checklist-btn"
      [icon]="faPenToSquare"
      (click)="openCreateModal()"
    ></fa-icon>
    @if (checklistData && checklistData.length > 0) {
    <div class="item-section">
      @for (checklist of checklistData; track $index) {
      <a
        class="item-container"
        routerLink="/app/checklist/{{ checklist.id }}"
        routerLinkActive="active-item"
        ><span class="item-name">{{ checklist.title }}</span>
        <div
          class="item-edit-section"
          data-bs-toggle="dropdown"
          (click)="$event.stopPropagation()"
        >
          <fa-icon class="fa-sm" [icon]="faEllipsis"></fa-icon>
        </div>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              (click)="openEditModal(checklist.id!, checklist.title!)"
              >Edit</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="openDeleteModal(checklist.id!)"
              >Remove</a
            >
          </li>
        </ul>
      </a>
      }
    </div>
    }
  </div>
  }
</div>

<!-- CREATE MODAL -->
<app-modal
  [style]="'modal-form-width'"
  *ngIf="isCreateModalOpen"
  (closeModal)="closeModal()"
>
  <form
    class="modal-form"
    [formGroup]="createChecklistForm"
    (ngSubmit)="onCreateChecklistSubmit()"
  >
    <p class="modal-heading">Add checklist</p>
    <div class="input-container modal-text-input-container">
      <input
        class="modal-text-input"
        type="text"
        placeholder="Enter checklist name"
        formControlName="title"
        required
        [(ngModel)]="checklistName"
        maxlength="50"
      />
      <small class="form-error-text"
        >Character limit: {{ 50 - checklistName?.length! }} / 50</small
      >
      <small
        *ngIf="createChecklistFormSubmitted && emptyChecklistError"
        class="form-error-text"
        >Please enter a title</small
      >
      <small
        *ngIf="createChecklistFormSubmitted && duplicateChecklistError"
        class="form-error-text"
        >A checklist with this title already exists</small
      >
      <small
        *ngIf="createChecklistFormSubmitted && serverError"
        class="form-error-text"
        >Server error creating checklist</small
      >
    </div>

    <div class="modal-btn-container">
      <button class="modal-cancel-btn" type="button" (click)="closeModal()">
        Cancel
      </button>
      <button class="modal-submit-btn" type="submit">Submit</button>
    </div>
  </form>
</app-modal>

<!-- EDIT MODAL -->
<app-modal
  [style]="'modal-form-width'"
  *ngIf="isEditModalOpen"
  (closeModal)="closeModal()"
>
  <form
    class="modal-form"
    [formGroup]="editChecklistForm"
    (ngSubmit)="editChecklistSubmit()"
  >
    <p class="modal-heading">Edit checklist</p>
    <div class="input-container modal-text-input-container">
      <input
        class="modal-text-input"
        type="text"
        placeholder="Enter checklist name"
        formControlName="title"
        required
        [(ngModel)]="editChecklistForm.value.title"
        maxlength="50"
      />
      <small class="form-error-text"
        >Character limit: {{ 50 - editChecklistForm.value.title?.length! }} /
        50</small
      >
      @if (editChecklistFormSubmitted && emptyChecklistError){
      <small class="form-error-text">Please enter a title</small>
      } @else if (editChecklistFormSubmitted && duplicateChecklistError) {
      <small class="form-error-text"
        >A checklist with this title already exists</small
      >
      } @else if (editChecklistFormSubmitted && serverError) {
      <small class="form-error-text">Server error creating checklist</small>
      }
    </div>

    <div class="modal-btn-container">
      <button class="modal-cancel-btn" type="button" (click)="closeModal()">
        Cancel
      </button>
      <button class="modal-submit-btn" type="submit">Submit</button>
    </div>
  </form>
</app-modal>

<!-- DELETE MODAL -->
<app-modal
  [style]="'modal-form-width'"
  *ngIf="isDeleteModalOpen"
  (closeModal)="closeModal()"
>
  <div class="modal-form">
    <p class="modal-heading">Remove checklist</p>
    <p class="modal-text">Are you sure you want to remove this checklist?</p>
    <div class="modal-btn-container">
      <button class="modal-cancel-btn" type="button" (click)="closeModal()">
        Cancel
      </button>
      <button
        class="modal-submit-btn"
        type="submit"
        (click)="deleteChecklistSubmit(checklistToDelete!)"
      >
        Yes
      </button>
    </div>
  </div>
</app-modal>
