@import "../../../partials/mixins";
@import "../../../partials/variables";
@import "../../../partials/typography";

.modal-component {
  padding: 2rem;

  &_overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $color-1;
    opacity: 0.9;
    z-index: 10;
  }

  &_container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: $color-2;
    z-index: 11;
    border-radius: 20px;

    @include xs-display {
      width: 90vw;
    }
  }
}
