@import "../../../partials/variables";
@import "../../../partials/mixins";

.google-btn {
  border-radius: 100px;
  background-color: #51d6ca;
  padding: 10px 25px;
  color: #240090;
  border: 2px solid #51d6ca;

  &:hover {
    color: #51d6ca;
    background-color: unset;
  }
}

.loading {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center;

  &-header {
    color: $text-color-3;
  }

  &-body {
    color: $text-color-1;
  }

  &-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $color-7;
    opacity: 0.7;
  }
}
