<div class="item-input-section">
  <form
    class="item-input-form"
    [formGroup]="createChecklistItem"
    (ngSubmit)="createChecklistItemSubmit()"
  >
    <input
      aria-label="Enter checklist item"
      formControlName="content"
      type="text"
      class="item-input"
    />
    <fa-icon
      class="fa-xl submit-item-btn"
      [icon]="faPlus"
      (click)="createChecklistItemSubmit()"
    ></fa-icon>
  </form>
  <button type="button" class="save-checklist-btn" (click)="save()">
    Save
  </button>
</div>
