<div class="page-container checklist-page">
  <h1 class="checklist-title">{{ checklist?.title }}</h1>
  @if (checklist) { @if ((uncheckedItems && uncheckedItems.length > 0) ||
  (checkedItems && checkedItems.length > 0)) { @if (uncheckedItems &&
  uncheckedItems.length > 0) {
  <ul
    cdkDropList
    class="draggable-list unchecklist-items-container"
    (cdkDropListDropped)="drop($event)"
  >
    @for (item of uncheckedItems; track item.tempId) {
    <li class="checklist-item" cdkDrag>
      <div class="position-icon-container">
        <fa-icon
          class="fa-xl position-icon"
          [icon]="faGripLines"
          cdkDragHandle
        ></fa-icon>
      </div>
      <label class="checkbox-container">
        <input
          aria-label="Checkbox"
          type="checkbox"
          checked="checked"
          [checked]="item.isChecked"
          [(ngModel)]="item.isChecked"
          (ngModelChange)="onToggleChecked(item.tempId!)"
        />
        <span class="checkmark"></span>
      </label>
      <mat-form-field appearance="fill" class="item-input">
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          [(ngModel)]="item.content"
          (ngModelChange)="onEditContent($event, item.tempId!, item.isChecked)"
          aria-label="Checklist item content"
        ></textarea>
      </mat-form-field>
      <fa-icon
        class="fa-md delete-icon"
        [icon]="faTrashCan"
        (click)="onDeleteItem(item.isChecked, item.tempId!)"
      ></fa-icon>
    </li>
    }
  </ul>
  } @if (checkedItems && checkedItems.length > 0) {
  <ul class="checklist-items-container">
    @for (item of checkedItems; track item.tempId) {
    <li class="checklist-item">
      <label class="checkbox-container">
        <input
          aria-label="Checkbox"
          type="checkbox"
          checked="checked"
          [checked]="item.isChecked"
          [(ngModel)]="item.isChecked"
          (ngModelChange)="onToggleChecked(item.tempId!)"
        />
        <span class="checkmark"></span>
      </label>
      <mat-form-field appearance="fill" class="w-100">
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          [(ngModel)]="item.content"
          (ngModelChange)="onEditContent($event, item.tempId!, item.isChecked)"
          aria-label="Checklist item content"
        ></textarea>
      </mat-form-field>
      <fa-icon
        class="fa-md delete-icon"
        [icon]="faTrashCan"
        (click)="onDeleteItem(item.isChecked, item.tempId!)"
      ></fa-icon>
    </li>
    }
  </ul>
  } } @else {
  <p class="default-text">Add a checklist item.</p>
  } } @else {
  <p class="default-text">Start by creating a checklist.</p>
  }
</div>

@if (checklist) {
<app-input-save (newItem)="onAddItem($event)" (saveChecklist)="onSaveItems()" />
}
