@import "../../../../partials/typography";
@import "../../../../partials/variables";

.app-container {
  display: flex;
}

.side-panel {
  width: 20vw;
  background-color: $color-2;
  height: 100vh;
}
