@import "variables";
@import "typography";

@mixin xl-display {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin lg-display {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin md-display {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin sm-display {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin xs-display {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin btn-default {
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@mixin reg-btn-1 {
  @include btn-default;
  background-color: $color-6;
  padding: 0.4rem 1.6rem;
  border: 1px solid $color-6;
  transition: color 0.5s ease-in-out;
}

@mixin reg-btn-1-hover {
  background-color: unset;
  color: $text-color-3;
}

@mixin reg-btn-2 {
  @include btn-default;
  background-color: unset;
  padding: 0.4rem 1.6rem;
  color: $text-color-1;
  border: 1px solid $color-5;
  transition: color 0.5s ease-in-out;
}

@mixin reg-btn-2-hover {
  background-color: $color-5;
  color: $text-color-2;
}

@mixin text-input {
  width: 100%;
  padding-bottom: 0.6rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $color-5;
  background-color: unset;
  color: $text-color-1;
  &:focus {
    outline: none;
  }
}
